<div class="plantcare-section">
  <h1 class="page-title">Entretien des plantes</h1>

  <p class="intro-text">
    Ce microservice permet de gérer les besoins en arrosage de vos plantes. 
    Vous pouvez enregistrer de nouvelles plantes, voir quand elles ont été arrosées pour la dernière fois, et les supprimer.
  </p>

  <app-add-plant (plantAdded)="loadPlants()"></app-add-plant>

  <div class="plant-grid">
    <div class="plant-card" *ngFor="let plant of plants">
      <h3>{{ plant.name }}</h3>
      <p><strong>Dernier arrosage :</strong> {{ plant.last_watered | date : 'dd/MM/yyyy'}}</p>
      <p>{{ calculateWatering(plant) }}</p>
      <p><em>{{ plant.notes }}</em></p>

      <button *ngIf="shouldWaterToday(plant)" (click)="waterPlant(plant.id)">
        Arroser
      </button>

      <button (click)="deletePlant(plant.id)">Supprimer</button>
    </div>
</div>
