<h3>Ajouter une fleur</h3>

<div class="form-row">
  <ons-input 
    type="text" 
    [value]="newFlower.name" 
    (input)="updateValue('name', $event)"
    placeholder="Nom de la fleur" 
    float>
  </ons-input>

  <ons-input 
    type="text" 
    [value]="newFlower.image_url" 
    (input)="updateValue('image_url', $event)"
    placeholder="URL de l'image" 
    float>
  </ons-input>

  <ons-input 
    type="text" 
    [value]="newFlower.description" 
    (input)="updateValue('description', $event)"
    placeholder="Description" 
    float>
  </ons-input>

  <ons-button (click)="addFlower()">
    Ajouter la fleur
  </ons-button>
</div>



