<h3>Ajouter une fleur</h3>

<div class="form-row">
  <input
    type="text"
    class="text-input"
    [(ngModel)]="newFlower.name"
    name="name"
    placeholder="Nom de la fleur"
    required
  />

  <input
    type="text"
    class="text-input"
    [(ngModel)]="newFlower.image_url"
    name="image_url"
    placeholder="URL de l'image"
    required
  />

  <input
    type="text"
    class="text-input"
    [(ngModel)]="newFlower.description"
    name="description"
    placeholder="Description"
  />

  <button class="button" (click)="addFlower()">Ajouter la fleur</button>
</div>
