<h3>Ajouter une plante</h3>

<div class="form-row">
  <input
    type="text"
    class="text-input"
    [(ngModel)]="newPlant.name"
    name="name"
    placeholder="Nom de la plante"
    required
  />

  <select
    class="select-input"
    [(ngModel)]="newPlant.type_id"
    name="type_id"
    required
  >
    <option [ngValue]="null" disabled selected hidden>Type de plante</option>
    <option *ngFor="let type of plantTypes" [value]="type.id">
      {{ type.name }} ({{ type.watering_frequency_days }} j)
    </option>
  </select>

  <input
    type="date"
    class="text-input"
    [(ngModel)]="newPlant.last_watered"
    name="last_watered"
  />

  <input
    type="text"
    class="text-input"
    [(ngModel)]="newPlant.notes"
    name="notes"
    placeholder="Notes"
  />

  <button class="button" (click)="addPlant()">Ajouter</button>
</div>
