<h3>Ajouter une plante</h3>

<form (ngSubmit)="addPlant()">
  <label>Nom:</label>
  <input type="text" [(ngModel)]="newPlant.name" name="name">

  <label>Type de plante:</label>
  <select [(ngModel)]="newPlant.type_id" name="type_id" required>
    <option *ngFor="let type of plantTypes" [value]="type.id">
      {{ type.name }} ({{ type.watering_frequency_days }} j)
    </option>
  </select>

  <label>Dernier arrosage:</label>
  <input type="date" [(ngModel)]="newPlant.last_watered" name="last_watered">

  <label>Notes:</label>
  <textarea [(ngModel)]="newPlant.notes" name="notes"></textarea>



  <button type="submit">Ajouter</button>
</form>
